.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex {
    display: flex;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.f-bl{
    color: var(--blue);
}
.f-blue{
    color: var(--blue);
}
.text-blue {
    color: var(--darkblue);
}
.text-gray {
    color: var(--gray);
}
.text-center {
    text-align: center;
}
.f-gray{
    color: #6e7891;
}
.col-4{
    width: 33.33%;
    background-color: #fff;
}
.col-8{
    width: 66.66%;
    border-radius: 5px;
}
.col-12{
    background-color: #fff;
}
.shadow{
    box-shadow: 0 0 3px 1px #eeefec;
}
.pocket{
    padding: 0 0 0 30px;
}