.row {
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.f-bl{
    color: var(--blue);
}
.f-gr{
    color: #6e7891;
}
.col-5{
    height: 521px;
    width: 470px;
}
.col-7{
    height: 521px;
    width: 670px;
}