:root{
    --over: 'Overpass', sans-serif;
    --overb: "Overpass-Bold" , sans-serif;
    --overr: "Overpass-Regular", sans-serif;
    --ubun: 'Ubuntu', sans-serif;
    --blue: #1a0e4b;
    --white: #ffffff ;
    --darkblue : #1a0e4b;
    --gray : #6e7891;
    --green: #598117;
    --btn: #a6b812;
}


