.hero__content{
    text-transform: uppercase;
}
.content__big{
    font-size: 72px;
    font-family: var(--antiqua);
    line-height: 80px;
}
.content__small{
    font-size: 16px;
    font-family: var(--roboto);
    letter-spacing: 3px;
    line-height: 32px;
    justify-content: space-between;
}
.small__flower{
    background-color: white;
}
.small__title{
    width: 80%;
}
