.onfoot{
    background: url(/imgs/onfoot-bg.png) center no-repeat;
}
.onfoot__table{
    justify-content: space-between;
}
.onfoot__words{
    text-align: center;
}
.onfoot__title{
    font-size: 60px;
}
.table__link{
    color: var(--green);
    font-size: 15px;
}
.box-1{
    height: 300px;
    width: 470px;
}
.box-2{
    height: 158px;
    width: 170px;
}
.table__discription{
    font-size: 15px;
}
h4{
    margin: 30px 0 5px 0;
    font-size: 25px;
}
.col-12{
    margin: 0px 0 20px 0;
}